.body-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.cards-layout {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    /* grid-template-rows: repeat(3, 1fr); */
    column-gap: 50px;
    row-gap: 30px;
    justify-content: flex-end;
    margin-top: 50px;
}