.product_details_modal {
    max-width: 800px;
    height: max-content;
    max-height: 600px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    margin: 24px;
    padding: 16px;
    padding: 18px;
    margin-top: 50px;
}

.card_header{
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 80%;
    margin: 8px;
}
.card_p {
    font-weight: bold;
    padding: 20px 10px;
    font-size: 18px;
}
.info_block{
    padding: 16px;
    max-width: 800px;
    width: max-content;
    max-height: max-content;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    margin: 24px;
    padding: 18px;
    margin-bottom: 100px;
}
.info_block_text {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.list_info{
    gap: 5px;
    display: flex;
    cursor: pointer;
    
}

.list_info_p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    max-width: 830px;
    width: 100%;
}