.product_details_modal {
    max-width: 600px;
    max-height: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    margin: 24px;
    padding: 16px;
    /* base */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    padding: 18px;
    
}

.card_header{
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 80%;
    margin: 8px;
}
.info_block{
    padding: 16px;
    max-width: 600px;
    max-height: 300px;
    flex-shrink: 0;
    border-radius: 8px;
background: #FFF;
margin: 24px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
}

.list_info{
    gap: 5px;
    display: flex;
    margin: 8px;
    cursor: pointer;
}