.body-layout_leftside {
    height: max-content;
    margin: 0 10px 50px 0;
}
.leftside_form {
    background-color: #fff;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 200px;
}

.result_text {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 40px;
}

.text_h3 {
    font-size: 24px;
}

.text_h4 {
    font-size: 24px;
    font-weight: bold;
}

.inputs_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.newinp {
    width: 20em;
}

.newbtn {
    /* margin-top: 60px; */
    align-self: center;
}

.btn_with_icon {
    position: relative;
    width: 25em;
    margin-top: 60px;
}

.icon {
    position: absolute;
    top: 5px;
    left: 8em;
}