.card_cart {
    width: 35em;
    height: max-content;
    padding: 25px;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 100px;
}

.cart-h3 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}

.newh3 {
    font-size: 24px;
    font-weight: normal;
}

.newh4 {
    font-size: 24px;
    font-weight: normal;
}

.link-btn {
    text-decoration: none;
    
}