.sidebar {
    width: max-content;
    background-color: #fff;
    padding: 30px 25px;
    margin: 50px 50px 0 15px;
    border-radius: 12px;
}
.sidebar > ul {
    list-style-type: none
}

.sidebar__h3 {
    font-size: 24px;
    padding-bottom: 20px;
}

.sidebar_link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
    padding: 20px;
    background-color: transparent;
    text-decoration: none;
    color: black;
}
.sidebar_link:hover {
    border-radius: 12px;
    background-color: #c5c5c5;
    color: #fff;
}

/* Добавляем стиль для активной ссылки в зависимости от текущего пути */
.sidebar_link.active {
    background-color: #a0a0a0; /* Цвет для активной кнопки */
    color: #fff;
    border-radius: 12px;
}

