.firstLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 18px;
}
.place {
    display: flex;
    flex-direction: row;
}
.btn-layout {
    display: flex;
    gap: 45px;
}
.btn_header {
    background-color:transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.btn_header1 {
    background-color:transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.btn_header:hover, .btn_header1:hover {
    background-color: #c5c5c5;
    cursor: pointer;
    border-radius: 12px;
}
.btn_header:active, .btn_header1:active {
    background-color: #a5a3a3;
    cursor: pointer;
    border-radius: 12px;
}
.header {
    margin: 0 15px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: 20px 25px;
}
.header-one_block {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.btn-nav1 {
    display: flex;
    flex-direction: column;
    /* padding: 5px 10px; */
    background-color: #fff;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.activeB {
    background-color: #6c6c6c;
    color: #fff;
    border-radius: 12px;
}
.header__nav_hidden {
    display: none;
    padding-right: 40px;
}

@media screen and (max-width: 1000px) {
    .header__nav {
        display: none;
    }
    .header__nav_hidden {
        display: block;
    }
}

@media screen and (max-width: 770px) {
    .header-one_block-hidden {
        display: none;
    }
}