.btn-outlined {
    background-color: transparent;
    color: #3182CE;
    border: 2px solid #3182CE;
    padding: 10px 15px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-height: 50px;
    width: 100%;
    min-width: 160px;
}
.btn-outlined:hover {
    background-color: aliceblue;
    cursor: pointer;
    border: 2px solid #276096;
}
.btn-outlined:active {
    background-color: rgb(193, 207, 219);
    cursor: pointer;
}
.btn-outlined:focus {
    border: 3px solid black;
}