
.card-body {
    width: 320px;
    height: max-content;
    padding: 20px 15px;
    background-color: #fff;

 
    
    border-radius: 12px;
    text-decoration:none;
    color: black;
    
}
.card-body-link{
    
    border-radius: 12px;
    background-color: #fff;
    text-decoration:none;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 240px 55px 28px 10px 30px;
        /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

     border-radius: 12px; */


}

.card-header {
    font-size: 18px;
    font-weight: normal;
    
}
.card-header:hover{
    text-decoration: underline;
}


.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.price_before {
    text-decoration: line-through;
    color: #767676;
}

.price_after {
    font-size: 26px;
    font-weight: bold;
}
.btn-zone{
    display: flex;
    gap: 12px;
    justify-content: center;
}

@media screen and (max-width: 325px) {
    .card-body {
        width: 310px;
    }
    
}